{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block page_content %}
<h1>San Francisco<br>Food trucks locator</h1>
<p>Find five food trucks nearby</p>
<br>
<button type="button" class="btn btn-dark rounded-pill w-100 my-2" onclick="getLocation()">Retrieve your current location</button>
<p>or type in your location data manually:</p>
{% crispy form  %}

{% if food_trucks_nearby %}
<br>
<h3>Food trucks nearby (from closest):</h3>
{% for food_truck in food_trucks_nearby %}
<div class="container col col-md justify-content-center panel-background mb-2">
    <div class="row">
        <h4>{{ food_truck.applicant }}</h4>
        <p>{{ food_truck.facility_type }}</p>
        <p>{{ food_truck.food_items }}</p>
        <p>{{ food_truck.address }}</p>
        <p>{{ food_truck.distance|floatformat:2 }} meters</p>
        <a href="https://www.google.com/maps/search/?api=1&query={{ food_truck.latitude }},{{ food_truck.longitude }}"
            target="_blank"
            class="btn btn-time-primary rounded-pill w-100">
            Show on map
        </a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
