{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}{% endblock %}

{% block page_content %}
<button type="button" class="btn btn-light rounded-pill w-100 my-2" onclick="getLocation()">Retrieve current location</button>
{% crispy form  %}


{% if food_trucks_nearby %}
{% for food_truck in food_trucks_nearby %}
<div class="container col col-md justify-content-center panel-background mb-2">
    <div class="row">
        <h3>{{ food_truck.applicant }}</h3>
        <p>{{ food_truck.facility_type }}</p>
        <p>{{ food_truck.food_items }}</p>
        <p>{{ food_truck.address }}</p>
        <p>{{ food_truck.distance|floatformat:2 }} meters</p>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block additional_scripts %}
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
